* {
  margin: 0;
  padding: 0;
}
ul > li,
ol > li {
  list-style: none;
}
a {
  text-decoration: none;
  color: currentColor;
}
/* 로고 글씨체 */
@font-face {
  font-family: "Yeongdo-Rg";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/Yeongdo-Rg.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 네브 글씨체 */
@font-face {
  font-family: "116angmuburi";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_six@1.0/116angmuburi.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
/* 전체 글씨체 */
@font-face {
        font-family: "NanumSquareNeo-Variable";
        src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2")
          format("woff2");
        font-weight: normal;
        font-style: normal;
}

::selection {
  background-color: rgba(255, 253, 129, 0.568);
  color: black;
}

body {
	font-family: "NanumSquareNeo-Variable";
	background-color: rgb(242, 241, 236);
	color: rgb(60, 60, 60);
}




header .logobox a>span{
	font-family: "Yeongdo-Rg";
	font-size: 3rem;
}
header>div{
	border-bottom: 1px solid gray;
}
header>div>ul>li>a{
	font-family: "116angmuburi";
	font-size: 2rem;
	font-weight: bold;
}





/*1024,768*/
/**/

main {
}
